.container {
  padding: 40px 20px;
  
  h1 {
    color: var(--primary-blue);
    margin-bottom: 30px;
  }
  
  .card {
    margin-bottom: 20px;
    
    h3 {
      color: var(--primary-blue);
      margin-bottom: 10px;
    }
  }
}




